<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/iniciar.css">
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/anonimous/image/upload/v1663276871/train%20tickets/banderas/Dise%C3%B1o_sin_t%C3%ADtulo_yf497p.png"
        type="image/x-icon">
    <title>TrainTickets</title>
</head>

<body>
    <form action="/login" method="post">
        <section class="form-register">
            <h4>Iniciar Sesion</h4>
            <input class="controls" type="email" name="correo" id="correo" placeholder="ingrese su correo">
            <input class="controls" type="password" name="contrase単a" id="contrase単a"
                placeholder="ingrese su contrase単a">
            <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
            <button class="botons" type="submit">INICIAR</button>
            <p><a href="/recuperar">recuperar tu contrase単a</a></p>
        </section>
    </form>
</body>

</html>