<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/iniciar.css">
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/anonimous/image/upload/v1663276871/train%20tickets/banderas/Dise%C3%B1o_sin_t%C3%ADtulo_yf497p.png"
        type="image/x-icon">
    <title>TrainTickets</title>
</head>

<body>
    <form action="/cambiar" method="post">
        <section class="form-register">
            <h4>Recuperar Contraseña</h4>
            <input class="controls" type="email" name="correo" placeholder="ingresa tu correo">
            <input class="controls" type="number" name="codigoContraseña" placeholder="ingrese el codigo enviado">
            <input class="controls" type="password" name="contraseñaNueva" placeholder="ingrese la nueva contraseña">
            <button class="botons" type="submit">Cambiar Contraseña</button>

        </section>
    </form>
</body>

</html>