* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background: #f2f2f2;
}
.container{
      border: #000 solid 3px;
      display: flex;
}
.container div{
      display: flex;
      flex-direction: column;
      margin: 30px;
}
.containerQR {
      display: flex;
}